@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset all elements to use border-box and remove default padding and margin */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; /* Enable scroll snapping */

  /* hide the scrollbar */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  text-decoration: none;
  color: inherit; /* Inherit color from parent */
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to bottom,
    #12071f,
    #2f204e
  ); /* Gradient background */
  background-color: #12071f; /* Fallback color */
  overscroll-behavior: none;
  color: #fff;
  min-height: 100vh;
}

section {
  height: 100vh;
  scroll-snap-align: center; /* Align sections to the center */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
